@font-face {
  font-family: "Mona Sans";
  src:
    url("./mona-sans/Mona-Sans.woff2") format("woff2 supports variations"),
    url("./mona-sans/Mona-Sans.woff2") format("woff2-variations");

  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --theme-font-family: "Mona Sans", system-ui, sans-serif;
}
